.puffin{
    height: 6vw;
    aspect-ratio: 1;
    background: #E0C5D9;
    clip-path: polygon(72% 66%,63% 6%,65% 47%,99% 2%,100% 33%,79% 50%,23% 12%,60% 77%,28% 34%,72% 66%,35% 100%,30% 86%,5% 17%);
}

.smth{
    height: 4vw;
    aspect-ratio: 1;
    background: #E0C5D9;
    clip-path: polygon(0% 15%,101% 101%,15% 0%,85% 0%,0% 101%,100% 15%,100% 85%,0% 0%,85% 100%,15% 100%,101% 0%,0% 85%);
}

.bird{
    height: 5.5vw;
    aspect-ratio: 1;
   	background: #E0C5D9;
    clip-path: polygon(33.00% 30.00%,38.00% 22.00%,29.00% 22.00%,39% 18%,43% 11%,53% 11%,56% 23%,79% 8%,74% 16%,88% 0%,89% 17%,61% 58%,60% 70%,69% 88%,66% 100%,56% 74%,39.00% 68.00%,32% 47%);
}

.mockingbird{
    height: 5.5vw;
    aspect-ratio: 1;
    background: #E0C5D9;
    clip-path: polygon(33.00% 30.00%,38.00% 22.00%,29.00% 22.00%,39% 18%,43% 11%,53% 11%,56% 23%,79% 8%,74% 16%,88% 0%,89% 17%,59% 55%,59% 62%,69% 88%,66% 100%,54% 72%,40% 64%,33% 45%);
}


/*
clip-path: polygon(33.00% 30.00%,38.00% 22.00%,29.00% 22.00%,39% 18%,43% 11%,53% 11%,56% 23%,79% 8%,74% 16%,88% 0%,89% 17%,61% 58%,60% 70%,69% 88%,66% 100%,56% 74%,39.00% 68.00%,32% 47%);

clip-path: polygon(0% 15%,101% 101%,15% 0%,85% 0%,0% 101%,100% 15%,100% 85%,0% 0%,85% 100%,15% 100%,101% 0%,0% 85%);