.btn {
  width: 100%;
  max-height: 42px;
  padding: var(--space-12);
  border: none;
  border-radius: 4px;
  font-weight: var(--weight-bold);
  color: var(--text-light);
  font-size: var(--font-size-md);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: end;
}

.btn-primary {
  background-color: var(--color-secondary);

  &:hover {
    background-color: var(--color-secondary-hover);
  }
}

.btn-secondary {
  background-color: var(--color-accent);

  &:hover {
    background-color: var(--color-accent-hover);
  }
}