table{
    padding-top: 3px;
    margin-top: 1vh;
    border: 1px solid 'black';
    font-size: 5m;
    display: flex;
    justify-content: center;
}

.histogram-wrapper{
    width: fit-content;
    margin: 30px auto;
}